**
!package.json
!package-lock.json
!apps/
!apps/api/
!apps/api/package.json
!apps/api/Dockerfile
!apps/api/tsconfig*.json
!apps/api/src/
!apps/api/src/**
!apps/api/prisma/
!apps/api/prisma/schema.prisma
!apps/api/prisma/migrations/
!apps/api/prisma/migrations/**
!apps/web/
!apps/web/package.json
!packages/
!packages/shared/
!packages/shared/package.json
!packages/shared/tsconfig.json
!packages/shared/src/
!packages/shared/src/**
